html,body,#root {
  height: 100%;
  width: 100%;
}
.App {
  position:fixed;
  /* text-align: center; */
  /* background-color: white; */
  /* background-image: url(./media/darkrift-orig_full.jpg); */
  /* background-size: cover; */
  height: 100%;
  width:100%;
  color: white;
}

.video {
  position:absolute;
  height:100%;
  z-index:-1;
  /* opacity:0.9; */
}


.container > div {
  background: #eee;
  padding: 1.5em;
  width: 50%;

}

.container > div:nth-child(odd){
  background: linear-gradient(to bottom, rgba(192,192,192,0.5) 0%, rgba(192,192,192,0.5) 100%);
  border-radius: 10px;
  position:relative;
  /* background: #ddd; */
}
.container {
  display: grid;
  grid-template-rows: 30% 70%;
  grid-row-gap: 1em;
  border: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
